appnope
asttokens
backcall
certifi
click
debugpy
decorator
entrypoints
executing
Flask
gunicorn
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
pyzmq
six
stack-data
tornado
traitlets
wcwidth
Werkzeug
